.wrapper{
    background-color: #282c34;
    display: block;
}

.inner_home{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh + 70px);
    background-image: url('./../../assets/images/429865.jpg');
    background-size: cover;
}

.home_row_1{
    position: absolute;
    .img{

    }

}

.home_row_2{
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.inner_skill{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 35, 42, 0.7);
    height: 80vh;
    width: 100%;

}

.skills{
    display: flex;
    justify-content: center;
    width: var(--default-layout-width);
    >div{
        height: 80vh;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        top: -70px;
        background-color: #20232a;
        border-radius: 50px;
        // width: var(--default-layout-width);
        >label{
            color: whitesmoke;
            font-size: 30px;
            padding: 10px 50px;
            border-radius: 25px;
            margin: 30px 0;
            font-weight: bold;
            background: linear-gradient(rgba(6, 69, 121, 0),rgb(117, 5, 112), rgb(90, 3, 61));
        }
        >p{
            color: rgba(245, 245, 245, 0.6);
            width: 70%;
            text-align: center;
            padding: 10px 0;
            font-size: var(--default-font-size-p);
        }
        .skills_slide{
            display: flex;
            justify-content: space-around;
            width: 100%;
            padding: 35px 0;
            div{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                color: rgba(245, 245, 245, 0.8);
                p{
                    padding: 10px 0;
                    color: white;
                    font-size: var(--default-font-size-p);
                }
            }
        }
        .progress_bar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            height: 100%;
            >label{
                color: white;
                font-size: var(--default-font-size-p);
                padding: 0 30px;
            }
            >div{
                background-color: #959da5;
                border-radius: 30px;
                width: 80%;
                >div{
                    text-align: center;
                    background-color: rebeccapurple;
                    border-radius: 20px;
                    font-weight: bold;
                }
            }
        }
    }

}

.inner_project{
    background-color: rgba(32, 35, 42, 0.7);
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.project{
    display: flex;
    flex-direction: column;
    width: var(--default-layout-width);
    border-radius: 50px;
    background-color: #20232a;
    height: 90vh;

    >div:nth-child(1){
        display: flex;
        justify-content: center;
        >h2{
            color: whitesmoke;
            font-size: 30px;
            padding: 10px 50px;
            margin-top: 75px;
            margin-bottom: 50px;
            border-radius: 25px;
            font-weight: bold;
            background: linear-gradient(rgba(6, 69, 121, 0),rgb(117, 5, 112), rgb(90, 3, 61));
        }
    }
    >div:nth-child(2){
        // flex: 1;
        height: 65%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        >div{
            display: flex;
            justify-content: center;
            position: relative;
            height: calc(var(--default-layout-width)/5.5);
            width: 33%;
            >img{
                z-index: 1;
                // max-width: 90%;
                width: 90%;
                max-height: 100%;
                border-radius: 20px;
                &:hover{
                    opacity: 0.1;
                }
                &:hover + .hover_card{
                    animation: ex 0.75s ;
                    p{
                        animation: ex_delay 0.8s ease;
                    }
                }
            }
            >div{
                z-index: 0;
                position: absolute;
                width: 90%;
                height: 100%;
                background-color: rgba(159, 90, 228, 0.3);
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    font-weight: bold;
                    font-size: 30px;
                    color: white;
                    text-align: center;
                }
            }
        }
    }
}

@keyframes ex{
    0% {height: 0%;}
    100% {height: 100%;}
}
@keyframes ex_delay{
    0% {opacity: 0 ;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


// https://css-tricks.com/cool-hover-effects-using-background-properties/