.wrapper{
    background-color: #282c34;
    display: block;
}

.inner_home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh + 70px);
}

.home{
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__content{
    width: 60%;
    margin-left: 0.5rem;
    >div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        >label{
            font-size: 30px;
            border: 1px solid black;
            padding: 15px 25px;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            background: linear-gradient(rgb(90, 3, 61),rgb(104, 4, 17),rgba(6, 69, 121, 0));
        }
        >p{
            color: rgba(245, 245, 245, 0.6);
            font-size: var(--default-font-size-p);
        }
    }
    div:nth-child(3){
        display: flex;
        justify-content: center;
        .icons{
            padding: 10px 20px;
            margin: 0 15px;
            font-size: 1.5rem;
            border: 1px solid brown;
            border-radius: 20px;
            color: brown
        }
        .icons:hover{
            color: black;
            background-color: brown;
            opacity: 0.8;
        }
    }
}
.home__image{
    display: flex;
    justify-content: center;
    width: 40%;
    img{
        max-width:60%;
        max-height:100%;
    }
}

.inner_skill{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 35, 42, 0.7);
    height: 80vh;
    width: 100%;

}

.skills{
    display: flex;
    justify-content: center;
    >div{
        height: 80vh;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        top: -70px;
        background-color: #20232a;
        border-radius: 50px;
        width: var(--default-layout-width);
        >label{
            color: whitesmoke;
            font-size: 25px;
            padding: 10px 50px;
            border-radius: 25px;
            margin: 30px 0;
            font-weight: bold;
            background: linear-gradient(rgba(6, 69, 121, 0),rgb(117, 5, 112), rgb(90, 3, 61));
        }
        >p{
            color: rgba(245, 245, 245, 0.6);
            width: 70%;
            text-align: center;
            padding: 10px 0;
            font-size: var(--default-font-size-p);
        }
        .skills_slide{
            display: flex;
            justify-content: space-around;
            width: 100%;
            padding: 35px 0;
            div{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                color: rgba(245, 245, 245, 0.8);
                p{
                    padding: 10px 0;
                    color: white;
                    font-size: var(--default-font-size-p);
                }
            }
        }
        .progress_bar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            height: 100%;
            >label{
                color: white;
                font-size: var(--default-font-size-p);
                padding: 0 30px;
            }
            >div{
                background-color: #959da5;
                border-radius: 30px;
                width: 80%;
                >div{
                    text-align: center;
                    background-color: rebeccapurple;
                    border-radius: 20px;
                    font-weight: bold;
                }
            }
        }
    }

}

.inner_project{
    background-color: #282c34;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.project{
    width: var(--default-layout-width);
    border-radius: 50px;
    background-color: #20232a;
    display: flex;
    justify-content: center;
    height: 90vh;
    >div{
        width: 100%;
        display: flex;
        flex-direction: column;
        >div:nth-child(1){
            display: flex;
            justify-content: center;
            >label{
                color: whitesmoke;
                font-size: 25px;
                padding: 10px 50px;
                margin: 30px 0;
                border-radius: 25px;
                font-weight: bold;
                background: linear-gradient(rgba(6, 69, 121, 0),rgb(117, 5, 112), rgb(90, 3, 61));
            }
        }
        >div:nth-child(2){
            flex-basis: 100px;
                    flex-grow: 1;

            display: flex;
            flex-direction: column;
            >div{
                flex-basis: 50%;
                border: 5px solid bisque; 
                display: flex;
                >img{
                    flex: 0 auto;
                    object-fit: cover;
                }
            }
        }
    }
}

